<a href="/user/<%= current_user.id %>"> <input type="submit" value="Profile"></a> <a href="/eatery"> <input type="submit" value="Eateries"></a> <a href="/logout"> <input type="submit" value="Logout"/> </a>
<br/>
<br/>
<h1>Rating Review</h1><br>
<br>
<h2><%= @eatery.name %></h2>
<h2><%= @rating.customer_service %></h2>
<h2><%= @rating.product_quality %></h2>
<h2><%= @rating.checkout_experience %></h2>
<h2>@<%= @rating.overall_experience %></h2><br>