<a href="/user/<%= current_user.id %>"><input type="submit" value="Profile"></a> <a href="/eatery"><input type="submit" value="Eateries"></a><a href="/logout"><input type="submit" value="Logout"/></a>
<br/>
<br/>
<h1><%= current_user.first_name %>'s Rating Review</h1><br>
<br>
<h2>Eatery Name:          <%= current_rating.eatery_name %></h2>
<h2>Customer Service:     <%= current_rating.customer_service %></h2>
<h2>Product Quality:      <%= current_rating.product_quality %></h2>
<h2>Checkout Experience:  <%= current_rating.checkout_experience %></h2>
<h2>Overall Experience:   <%= current_rating.overall_experience %></h2><br>
<a href="/rating/<%= current_rating.id %>/edit"> <input type="submit" value="Edit Rating"/></a><br/>
<form action= "/rating/<%= current_rating.id %>" method="POST">
    <input type="hidden" value="DELETE" name="_method" >
    <input type="submit" value="Delete Rating"/>
</form>