<h1>Single Eatery</h1><br>
<br>
<h2><%= @eatery.name %></h2>
<h2><%= @eatery.type_of_food %></h2>
<h2><%= @eatery.neighborhood %></h2>
<h2><%= @eatery.address %></h2>
<h2><%= @eatery.website %></h2> 
<h2>@<%= @eatery.instagram %></h2><br>
<br>
<a href="/checkin_and_rating/new"> Rate this Eatery </a> 

      <%# t.string :name
      t.string :owner
      t.string :type_of_food
      t.string :neighborhood
      t.string :address
      t.string :website
      t.string :instagram %>