<br/>
<h1><%= current_user.first_name %>'s Profile</h1><br>
<br>
<h2>First Name: <%= current_user.first_name %></h2>
<h2>Last Name: <%= current_user.last_name %></h2>
<h2>Email: <%= current_user.email%></h2>
<br>
<br>
<h1>Restaurants Reviewed:</h1>
<% current_user.ratings.each do |rating| %>
    <h3><a href="/rating/<%= rating.id %>"><%= rating.eatery.name %> </a> </h3>
<% end %>
<br/>
<br/>
<a href="/user/<%= current_user.id %>/edit"> <input type="submit" value="Edit Profile"/></a><br>
<a href="/logout"> <input type="submit" value="Logout"/> </a>
<form action= "/user/<%= current_user.id %>" method="POST">
    <input type="hidden" value="DELETE" name="_method" >
    <input type="submit" value="Delete"/>
</form>

      <%# t.string :first_name
      t.string :last_name 
      t.string :email
      t.integer :age  %>